*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,body{
    height: 100%;
}
ul ,li{
    list-style: none;
}
img{
    vertical-align: middle;
    max-width: 100%;
}
a{
    text-decoration: none;
    cursor: pointer;
}
h1,h2{
    padding: 0;
    margin: 0;
}
input[type="button"]{
    border: none;
}
input:focus{
    outline: none;
}
button:focus{
    outline: none;
}
button{
    border: none;
}
input{
    border: 1px solid #666666;
}
textarea{
    border: 1px solid #888;
}
textarea:focus{
    border: 1px solid #888;
}
.g-main .wangEditor-txt p{
    color: #888888;
    font-size: 14px;
}