/* ************
    ======������ʽ======
* *************/
.f-float-l{
    float: left;
}
.f-float-r{
    float: right;
}
.f-text-c{
    text-align: center;
}
.f-text-l{
    text-align: left;
}
.f-text-r{
    text-align: right;
}
.f-clearfix:after{
    content: " ";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.f-fill{
    width: 100%;
    height: 100%;
}
.f-marTop-60{
    margin-top: 60px;
}
.f-marBtm-60{
    margin-bottom: 60px;
}
.f-marBtm-10{
    margin-bottom: 10px;
}
.f-marBtm-20{
    margin-bottom: 20px;
}
.f-marTop-20{
     margin-top: 20px;
 }
.f-marTop-10{
    margin-top: 10px;
}
.f-marTop-30{
    margin-top: 30px;
}

.f-paddBtm-60{
    padding-bottom: 60px;
}
.f-show{
    position: relative;
    padding-bottom: 100px;
    min-height: 100%;
    padding-top: 60px;
    z-index: 10;
    margin-top: -60px;
}
.f-paddTopBtm-20{
    padding-top: 20px;
    padding-bottom: 20px;
}

.f-paddLR-30{
    padding-left: 30px;
    padding-right: 30px;
}
@media all and (max-width: 600px) {
    .f-paddTopBtm-20{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .f-show{
        padding-top: 50px;
        margin-top: -50px;
    }
    .f-paddLR-30{
        padding-left: 20px;
        padding-right: 20px;
    }
}
.f-marTop-40{
    margin-top: 40px;
}
.f-center{
    margin-left:auto ;
    margin-right: auto;
}
@media all and (max-width: 600px) {
    .f-show{
        margin-top: 0;
        padding-top: 50px;
    }
}
.f-main-bg{
    background-color: #ededef;
}
.f-area-bg{
    background-color: #ffffff;
}
.f-notice{
    color: #ff3300;
}
.f-sign-bg{
    background: url("./../../user/img/signBg.jpg") no-repeat center;
}
.loading{
    display: none;
}
.f-noData{
    position: absolute;
    bottom: -30px;
    width: 238px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}
@media all and (max-width: 600px) {
    .f-noData{
        width: 150px;
    }
}
.f-noHave{
    font-size: 25px;
    color: #888888;
    line-height: 1.7;
}