.g-main .m-introduce,
.g-main .m-recommend,
.g-main .m-upload{
    width: 790px;
}
@media all and (max-width: 800px) {
    .g-main .m-introduce,
    .g-main .m-recommend,
    .g-main .m-upload{
        width: 90%;
    }
}
.g-main .m-introduce img{
    width: 100%;
}
.g-main .m-introduce .title{
    font-size: 16px;
    font-weight: normal;
    color: #333333;
    line-height: 1.7;
}
.g-main .desc .title{
    color: #444;
    line-height: 1.7;
    font-size: 14px;
}
.g-main a{
    color: inherit;
}
.g-main .handel{
    margin-top: 5px;
}
.g-main .desc span{
    font-size: 12px;
    color: #888;
}
.g-main .desc span+span{
    margin-left: 10px;
}
.g-main .desc span:before{
    content: " ";
    display: inline-block;
    margin-right: 2px;
    height: 16px;
    background: url('./../img/icon.png') no-repeat;
}
.g-main .desc .good:before{
    width: 19px;
    background-position: -54px 0;
}
.g-main .desc .discuss:before{
    width: 15px;
    background-position: -75px 0;
}
.g-main .desc .fen:before{
    width: 18px;
    background-position: -91px 0;
}
.g-main .desc .time:before{
    width: 16px;
    background-position: -109px 0;
}
.g-main .desc .zp:before{
    width: 18px;
    background-position: -255px 0;
}
.g-main .m-introduce .detail{
    font-size: 14px;
    color: #888888;
    line-height: 1.7;
}

.g-main .m-recommend .title{
    font-size: 18px;
    color: #444444;
    font-weight: normal;
}
.g-main .m-recommend .desc .title{
    font-size: 14px;
}
.g-main .m-recommend .list{
    margin-left: -2%;
}
.g-main .m-recommend .item{
    width: 23%;
    margin-left: 2%;
}
@media all and (max-width: 800px) {
    .g-main .m-recommend .item{
        width: 31.3333%;
    }
}
@media all and (max-width: 500px) {
    .g-main .m-recommend .item{
        width: 48%;
    }
}

.g-main .m-upload .submit{
    border: 1px solid #ff3300;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 16px;
    color: #ff3300;
}
.g-main .m-upload .submit:hover{
    color: #ffffff;
    background-color: #ff3300;
}